.player-bar {
    position: relative;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    width: 100%;
    height: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    user-select: none;
    border-top: 1px solid var(--mantine-color-default-border);

    @mixin dark {
        background-color: darken(var(--mantine-color-body), 50%);
    }

    @mixin light {
        background-color: lighten(var(--mantine-color-body), 1%);
    }
}
