.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.list-header-container {
  z-index: 3;
  width: 100%;
  height: 2.5rem;
  user-select: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 15%);
}

.list-header {
  display: flex;
  width: calc(100% - 8px);
  height: 100%;
  margin: 0;
}

.list-header-column {
  display: grid;
  width: 100%;
}

.list-header-column-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list-header-divider {
  margin: 0.7rem 0;
  border: none;
}

.list-rows {
  // display: grid;
  // grid-template-rows: auto 34px;

  // width: 100%;
  // height: 100%;
}

.list-row {
  z-index: 2;
  transition: background-color 0.2s ease;
}

.list-row:is(:last-child) {
  // border-bottom: 1px solid base.$list-border-color;
}

.list-row:hover {
  // background-color: base.$list-cell-bg-hover-color;
}

.selectable:hover {
  cursor: pointer;
}

.selected {
  // color: base.$list-cell-checked-color;
  // background-color: base.$list-cell-checked-bg-color;
}

.selected div {
  // color: base.$list-cell-checked-color;
}

.pagination-container > div {
  display: flex;
  align-items: center;
}

.selected > div > div {
  border-bottom: 1px solid rgb(50 50 50 / 20%);
}

.selected:hover {
  // background-color: base.$list-cell-checked-bg-color;
}

.selected a {
  // color: base.$list-cell-checked-color;
}

.pagination-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.pagination-container > div:nth-child(2) {
  justify-content: center;
}

.pagination-container > div:nth-child(3) {
  justify-content: flex-end;
  font-weight: 500;
}

.pagination-error {
  // color: base.$alert-color;
}
