@use '@/styles/base';

.cell {
    display: block;
    align-content: center;
    height: 100%;
    padding: 0 base.$gap-sm;
    font-size: base.$font-size-md;

    @include base.text-ellipsis;
}

.image {
    display: block;
    height: 100%;
    aspect-ratio: 1;
    margin: auto;
    object-fit: cover;
    border-radius: base.$border-radius-md;
}

.standalone-combined {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: base.$gap-sm;
    align-items: center;
    width: 100%;
}

.standalone-combined .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.standalone-combined .inner > div {
    @include base.text-ellipsis;
}

.playing {
    color: var(--global-primary-color);
}
