.secondary {
    color: darken(var(--mantine-color-text), 40%);
}

.ellipsis {
    @mixin textEllipsis;
}

.centered {
    text-align: center;
}

.no-select {
    user-select: none;
}

.uppercase {
    text-transform: uppercase;
}

.monospace {
    font-family: var(--mantine-font-family-monospace);
}
