@use '@/styles/base';

.container {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    height: 100%;
}

.header {
    @include base.bottom-shadow;

    padding: var(--base-gap-sm) var(--base-gap-xs);
}
