@use '@/styles/base';

.content {
    padding: var(--menu-padding);
    background-color: var(--menu-background-color);
    border: var(--menu-border);
    border-radius: var(--menu-border-radius);
    box-shadow: var(--menu-box-shadow);
}
