.container {
    position: absolute;
    top: rem(-4px);
    left: 0;
    display: flex;
    gap: var(--mantine-gap-sm);
    align-items: center;
    width: 100%;
}

.root {
    --track-bg: transparent;
    --slider-color: var(--mantine-color-secondary-7);
}
