.tooltip {
    z-index: 50000;
    padding: rem(2px) rem(8px);
    font-family: var(--mantine-font-family);
    font-size: var(--mantine-font-size-md);
    font-weight: 500;
    color: var(--mantine-color-text);
    user-select: none;
    background-color: darken(var(--mantine-color-body), 5%);
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-xs);
    box-shadow: var(mantine-shadow-lg);
}
