.item-grid-container {
    width: 100%;
    height: 100%;
    padding-right: var(--mantine-spacing-sm);
    container-type: inline-size;
    container-name: grid-list;
}

.grid-list-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;

    @container (min-width: $mantine-breakpoint-xs) {
        grid-template-columns: repeat(4, 1fr);
    }

    @container (min-width: $mantine-breakpoint-sm) {
        grid-template-columns: repeat(6, 1fr);
    }

    @container (min-width: $mantine-breakpoint-md) {
        grid-template-columns: repeat(6, 1fr);
    }

    @container (min-width: $mantine-breakpoint-lg) {
        grid-template-columns: repeat(8, 1fr);
    }

    @container (min-width: $mantine-breakpoint-xl) {
        grid-template-columns: repeat(10, 1fr);
    }

    @container (min-width: $mantine-breakpoint-2xl) {
        grid-template-columns: repeat(12, 1fr);
    }

    @container (min-width: $mantine-breakpoint-3xl) {
        grid-template-columns: repeat(16, 1fr);
    }
}

.grid-item-component,
.scroll-seek-placeholder {
    display: flex;
    grid-column: span 2;
}

.full-width-content {
    grid-column: 1 / -1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
}
