.skeleton {
    --base-color: var(--skeleton-background-color) !important;
    --highlight-color: var(--skeleton-highlight-color) !important;
    --animation-duration: var(--skeleton-animation-duration) !important;
}
