@use '@/styles/base';

.container {
    @include base.text-ellipsis;

    display: flex;
    width: 100%;
    padding: var(--side-nav-item-padding);
    font-size: base.$font-size-md;
    color: var(--side-nav-item-font-color);
    cursor: default;
    background-color: var(--side-nav-item-background-color);
    border-radius: var(--side-nav-item-border-radius);

    &:hover {
        color: var(--side-nav-item-font-hover-color);
        background-color: var(--side-nav-item-background-hover-color);
    }
}

.dragged-over {
    background: base.$primary-color;
}
