@use '@/styles/base';

.container {
    // display: grid;
    // grid-template:
    //     'search-bar' auto
    //     '.' auto
    //     'nav' auto
    //     'playlist-list' minmax(0, 1fr);
    display: flex;
    flex-direction: column;
    gap: base.$gap-sm;
    width: 100%;
    height: 100%;
    padding: var(--layout-nav-bar-side-padding);
    background-color: var(--layout-nav-bar-side-background-color);
    border-radius: var(--layout-base-border-radius);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

.header button {
    height: 100%;
}
