@use '@/styles/base';

.container {
    @include base.text-ellipsis;

    padding: var(--nav-item-padding);
    color: var(--nav-item-font-color);
    cursor: default;
    background-color: var(--nav-item-background-color);
    border-radius: var(--nav-item-border-radius);
    transition: background-color 0.2s ease-in-out;

    &:hover {
        color: var(--nav-item-font-hover-color);
        background-color: var(--nav-item-background-hover-color);
    }
}

.active {
    color: var(--nav-item-active-font-color);
    background-color: var(--nav-item-active-background-color);

    &:hover {
        background-color: var(--nav-item-active-background-color);
    }
}
