.error-boundary {
    outline: 2px solid var(--global-danger-color);
    overflow: hidden;
    width: 100%;
}

.content {
    gap: var(--mantine-spacing-md);
    max-width: 480px;
    padding: var(--mantine-spacing-md);
    width: 100%;
}
