.dropdown {
    padding: var(--mantine-spacing-sm);
    background-color: darken(var(--mantine-color-body), 5%);
    border: 1px solid lighten(var(--mantine-color-body), 10%);
    box-shadow: var(--mantine-shadow-md);
}
