@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
}
