.header-cell {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
    text-transform: uppercase;

    svg {
        width: var(--mantine-font-size-sm);
        height: var(--mantine-font-size-sm);
    }

    @mixin textEllipsis;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}
