* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    position: absolute;
    display: block;
    width: 100%;
    min-width: 360px;
    height: 100%;
    overflow: hidden;
    font-family: var(--global-font-family), sans-serif !important;
    color: var(--global-font-color) !important;
    background-color: var(--global-background-color) !important;
}

#root {
    width: 100%;
    height: 100%;
}

@media only screen and (width < 360px) {
    body,
    html {
        overflow-x: auto;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    text-size-adjust: none;
    outline: none;
}

::-webkit-scrollbar {
    width: var(--scroll-bar-size);
    height: var(--scroll-bar-size);
}

::-webkit-scrollbar-corner {
    background: var(--scroll-bar-track-background-color);
}

::-webkit-scrollbar-track {
    background: var(--scroll-bar-track-background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-thumb-background-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-thumb-hover-background-color);
}

.al-os-scrollbar {
    --os-size: var(--scroll-bar-size);
    --os-track-bg: var(--scroll-bar-track-background-color);
    --os-track-bg-hover: var(--scroll-bar-track-hover-background-color);
    --os-handle-bg: var(--scroll-bar-thumb-background-color);
    --os-handle-bg-hover: var(--scroll-bar-thumb-hover-background-color);
    --os-handle-bg-active: var(--scroll-bar-thumb-active-background-color);
    --os-handle-border-radius: var(--scroll-bar-border-radius);
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: Archivo;
    font-weight: 100 1000;
    src: url('../fonts/Archivo-VariableFont_wdth,wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Raleway;
    font-weight: 100 1000;
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Fredoka;
    font-weight: 100 1000;
    src: url('../fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'League Spartan';
    font-weight: 100 1000;
    src: url('../fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Lexend;
    font-weight: 100 1000;
    src: url('../fonts/Lexend-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Inter;
    font-weight: 100 1000;
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Sora;
    font-weight: 100 1000;
    src: url('../fonts/Sora-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 100 1000;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    font-weight: 100 1000;
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: DroidSerif;
    src: url('https://rawgit.com/google/fonts/master/ufl/ubuntumono/UbuntuMono-Italic.ttf')
        format('truetype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: DroidSerif;
    src: url('https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2')
        format('truetype');
    unicode-range: U+3000-9FFF, U+ff??; /* Japanese glyphs */
}
