:root {
    @mixin light-root {
        --mantine-color-body: var(--theme-background-light, #f9f9f9);
        --mantine-color-text: var(--theme-text-light, #030303);
    }

    @mixin dark-root {
        --mantine-color-body: var(--theme-background-dark, #030303);
        --mantine-color-text: var(--theme-text-dark, #f9f9f9);
    }
}
