$gap-xs: var(--base-gap-xs);
$gap-sm: var(--base-gap-sm);
$gap-md: var(--base-gap-md);
$gap-lg: var(--base-gap-lg);
$gap-xl: var(--base-gap-xl);
$font-weight-xs: var(--base-font-weight-xs);
$font-weight-sm: var(--base-font-weight-sm);
$font-weight-md: var(--base-font-weight-md);
$font-weight-lg: var(--base-font-weight-lg);
$font-weight-xl: var(--base-font-weight-xl);
$font-size-xs: var(--base-font-size-xs);
$font-size-sm: var(--base-font-size-sm);
$font-size-md: var(--base-font-size-md);
$font-size-lg: var(--base-font-size-lg);
$font-size-xl: var(--base-font-size-xl);
$title-font-size-xs: var(--base-title-font-size-xs);
$title-font-size-sm: var(--base-title-font-size-sm);
$title-font-size-md: var(--base-title-font-size-md);
$title-font-size-lg: var(--base-title-font-size-lg);
$title-font-size-xl: var(--base-title-font-size-xl);
$title-font-weight-xs: var(--base-title-font-weight-xs);
$title-font-weight-sm: var(--base-title-font-weight-sm);
$title-font-weight-md: var(--base-title-font-weight-md);
$title-font-weight-lg: var(--base-title-font-weight-lg);
$title-font-weight-xl: var(--base-title-font-weight-xl);
$border-radius-xs: var(--base-border-radius-xs);
$border-radius-sm: var(--base-border-radius-sm);
$border-radius-md: var(--base-border-radius-md);
$border-radius-lg: var(--base-border-radius-lg);
$border-radius-xl: var(--base-border-radius-xl);
$primary-color: var(--global-primary-color);
$success-color: var(--global-success-color);
$danger-color: var(--global-danger-color);
$warning-color: var(--global-warning-color);
$info-color: var(--global-info-color);
$font-color: var(--global-font-color);
$font-secondary-color: var(--global-font-secondary-color);
$font-size: var(--global-font-size);
$font-family: var(--global-font-family);
