@use '@/styles/base';

.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    max-width: 600px;
    height: 16px;
}

.handle {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 16px;
    height: 16px;
    background-color: base.$font-color;
    border-radius: 50%;
}

.track {
    width: 100%;
    height: 4px;
    background-color: base.$font-secondary-color;
    border-radius: 9999px;
}

// .progress-fill {
//     height: 100%;
//     background-color: #3b82f6;
//     border-radius: 9999px;
//     transform-origin: left;
// }

.slider {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #3b82f6;
    border-radius: 50%;
}

.root {
    &:hover {
        /* stylelint-disable-next-line selector-class-pattern */
        :global(.al-Slider-thumb) {
            opacity: 1 !important;
        }
    }
}

.bar {
    // opacity: 0;
}

.thumb {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
