@use '@/styles/base';

.container {
    position: relative;
    display: flex;
    gap: var(--base-gap-sm);
    align-items: center;
    width: 40vw;
    min-width: 300px;
    max-width: 800px;
    height: 16px;
}
