@use '@/styles/base';

.container {
    display: grid;
    grid-template-areas:
        'left right'
        'footer footer';
    gap: base.$gap-sm;
    width: 100%;
    padding: base.$gap-xs base.$gap-xs base.$gap-md base.$gap-xs;
}

.left {
    display: flex;
    flex-direction: row;
    grid-area: left;
    gap: base.$gap-sm;
    align-items: center;
    justify-content: flex-start;
}

.right {
    display: flex;
    flex-direction: row;
    grid-area: right;
    align-items: center;
    justify-content: flex-end;
}

.title {
    font-size: base.$title-font-size-lg;
    font-weight: base.$font-weight-lg;
    user-select: none;
}

.item-count {
    font-size: base.$title-font-size-sm;
    font-weight: base.$font-weight-md;
    color: base.$font-secondary-color;
    user-select: none;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template-areas: 'left right';
    align-items: center;
}
