.tooltip {
    padding: var(--tooltip-padding);
    font-size: var(--tooltip-font-size);
    font-weight: var(--tooltip-font-weight);
    color: var(--tooltip-font-color);
    background-color: var(--tooltip-background-color);
    border-radius: var(--tooltip-border-radius);
    box-shadow: var(--tooltip-box-shadow);
}
