.tooltip {
    padding: var(--tooltip-padding) !important;
    font-size: var(--tooltip-font-size) !important;
    font-weight: var(--tooltip-font-weight) !important;
    color: var(--tooltip-font-color) !important;
    background-color: var(--tooltip-background-color) !important;
    border-radius: var(--tooltip-border-radius) !important;
}
